<div [@routerTransition]>
    <app-page-header [heading]="'Mesas'" [icon]="'fa-clipboard'"></app-page-header>
    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary text-white btn-block" (click)="agregar()" id="btnAgregar"> Agregar Mesa </a>
        </div>
    
        <form role="form" class="col-7">
            <div class="form-group input-group">
                <div class="col-12 col-sm-12 input-group-prepend">
                    <span class="input-group-text bg-primary text-white " id="basic-addon1">
                        <i class="fa fa-fw fa-search"></i>&nbsp;
                    </span>
                    <input type="text" class="form-control" name="searchString" placeholder="Busqueda..." [(ngModel)]="search">
                </div>
            </div>
        </form>
    </div>
    
    <!-- Tabla -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mesa of mesas | filter:search let i = index">
                <th scope="row">{{mesa.MesClave}}</th>
                <td>{{mesa.MesNombre}}</td>
                <td>{{mesa.MesDescripcion}}</td>
                <td>
                    <button type="button" [routerLink]="['/mMesa',mesa.MesClave]" class="btn btn-sm btn-success">Modificar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>