.space_form{
      padding-top: 2em;
      padding-bottom: 3em;
}
.divider{
  height: 10px;
}
.separacion{
  margin-top: 1.1em;
}

.card-block{
  height: 200px;
}

.brdr{
  border: #4f73db;
  border-width: 5px;
}

.max-wdt{
  max-width: 85%;
}