<div [@routerTransition]>
    <app-page-header [heading]="'Audiencias'" [icon]="'fa-users'"></app-page-header>
    
    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary text-white btn-block" (click)="agregar()" id="btnAgregar"> Agregar Audiencia </a>
        </div>
    
        <form role="form" class="col-7">
            <div class="form-group input-group">
                <div class="col-12 col-sm-12 input-group-prepend">
                    <span class="input-group-text bg-primary text-white " id="basic-addon1">
                        <i class="fa fa-fw fa-search"></i>&nbsp;
                    </span>
                    <input type="text" class="form-control" name="searchString" placeholder="Busqueda..." [(ngModel)]="search">
                </div>
            </div>
        </form>
    </div>
    
    <!-- Tabla -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Folio Demanda</th>
                <th scope="col">Mesa</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let audiencia of audiencias | filter:search let i = index">
                <th scope="row">{{audiencia.AudClave}}</th>
                <td>{{audiencia.DemFolio}}</td>
                <td>{{audiencia.MesNombre}}</td>
                <td>{{audiencia.AudFecha | date: 'dd/MM/yyyy' : 'UTC'}}</td>
                <td>{{audiencia.AudHora | date: 'h:mm a' : 'UTC'}}</td>
                <td>
                    <button type="button" [routerLink]="['/mAud',i]" class="btn btn-sm btn-success">Modificar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
