<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.usrClave}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.usrNombre}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.usrName}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.RolDescripcion}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row"><button type="button" class="btn btn-sm btn-success">Modificar</button> <button type="button" class="btn btn-sm btn-danger">Borrar</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>