<div [@routerTransition]>
    <app-page-header [heading]="'Usuarios'" [icon]="'fa-user'"></app-page-header>
    <a class="btn btn-primary col-xl-3 text-white" (click)="agregar()" id="btnAgregar"> Agregar Usuario </a>

    <!-- Tabla -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
                <th scope="row">{{usuario.usrClave}}</th>
                <td>{{usuario.usrNombre}}</td>
                <td>{{usuario.usrName}}</td>
                <td>{{usuario.RolDescripcion}}</td>
                <td><button type="button" [routerLink]="['/mUsuario',i]" class="btn btn-sm btn-success">Modificar</button></td>
            </tr>
        </tbody>
    </table>

</div>