<div [@routerTransition]>
    <app-page-header [heading]="'Demandas'" [icon]="'fa-archive'"></app-page-header>
    

    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary text-white btn-block" (click)="agregar()" id="btnAgregar"> Agregar Demanda </a>
        </div>
        
        <form role="form" class = "col-7">
            <div class="form-group input-group">
                <div class="col-12 col-sm-12 input-group-prepend">
                    <span class="input-group-text bg-primary text-white " id="basic-addon1">
                        <i class="fa fa-fw fa-search"></i>&nbsp;
                    </span>
                    <input type="text" class="form-control" name="searchString" placeholder="Busqueda..." [(ngModel)]="search">
                </div>
            </div>
        </form>
    </div>

    
    <!-- Tabla -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Folio</th>
                <th scope="col">Actor</th>
                <th scope="col">Demandado</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tipo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let demanda of demandas | filter:search let i = index">
                <th scope="row">{{demanda.DemClave}}</th>
                <td>{{demanda.DemFolio}}</td>
                <td>{{demanda.ActNombre}}</td>
                <td>{{demanda.DeoNombre}}</td>
                <td>{{demanda.DemCiudad}}</td>
                <td>{{demanda.DemFecha | date: 'dd/MM/yyyy' : 'UTC'}}</td>
                <td>{{demanda.DemTipo}}</td>
                <td>{{demanda.StaNombre}}</td>
                <td>
                    <div class="btn-group-sm">
                        <button type="button" [routerLink]="['/mDemanda',demanda.DemClave]" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-pencil"></i>&nbsp;</button>
                        <button type="button" (click) = 'showDocuments(demanda)' class="btn btn-sm btn-info"><i class="fa fa-fw fa-archive"></i>&nbsp;</button>
                        <button type="button" [routerLink]="['/histo',demanda.DemClave]" class="btn btn-sm btn-dark"><i class="fa fa-fw fa-book"></i>&nbsp;</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>