<input type="file" #file style="display: none" (change)="onFilesAdded()" />
<div class="container" fxLayout="column" fxLayoutAlign="stretch">
  <h1 mat-dialog-title>Nuevo Documento</h1>

  <!-- Form Datos del Documento -->
  
  <form role="form">

    
    <div class="form-group input-group">
      <div class="col-12 col-sm-12 input-group-prepend">
        <span class="input-group-text bg-primary text-white" id="basic-addon1">
          Nombre
        </span>
        <input id="DocNombre" type="text" class="form-control" value="" placeholder="Nombre Documento" [disabled]="true">
      </div>
    </div>
    
    <div class="form-group input-group">
      <div class="col-12 col-sm-12 input-group-prepend">
        <span class="input-group-text bg-primary text-white" id="basic-addon1">
          Tipo
        </span>
        <input id="DocTipo" type="text" class="form-control" value="" placeholder="Tipo Documento">
       
      </div>
    </div>

    <div class="form-group input-group">
      <div class="col-12 col-sm-12 input-group-prepend">
        <span class="input-group-text bg-primary text-white" id="basic-addon1">
          Copias
        </span>
        <input id="DocTipo" type="text" class="form-control" value="" placeholder="Copias del Documento">
      </div>
    </div>
    
    <div class="form-group input-group">
      <div class="col-12 col-sm-12 input-group-prepend">
        <span class="input-group-text bg-primary text-white" id="basic-addon1">
          Descripción
        </span>
        <input id="DocDesc" type="text" class="form-control" value="" placeholder="Descripcion del Documento">
      </div>
    </div>

    <div class="form-group input-group">
      <div class="col-12 col-sm-12 input-group-prepend">
        <span class="input-group-text bg-primary text-white col-12 col-sm-12" id="basic-addon1">
          Notas
        </span>
      </div>
    </div>

    
    
    <div class="form-group input-group">
      <div class="col-12 col-sm-12 input-group-prepend">
        <textarea cols="50" rows="4" id="DocNotas" class="form-control" placeholder="Notas del Documento" maxlength="500"></textarea>
      </div>
    </div>



  </form>

  <!-- Termina Form -->
  <div>
    <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
      Selecciona Archivo
    </button>
  </div>

  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  
  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
  </mat-dialog-actions>

  
</div>