<div [@routerTransition]>
    <div class="col-sm-12">
        <p class="h1 text-center">Audiencias Programadas</p>
        
        <div class="row control-bar">
            <div class="col align-self-start">
                <div class="btn-group">
                    <div class="btn btn-light" mwlCalendarPreviousView view="month" [(viewDate)]="viewDate">
                        Anterior
                    </div>
                    <div class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Hoy
                    </div>
                    <div class="btn btn-light" mwlCalendarNextView view="month" [(viewDate)]="viewDate">
                        Siguiente
                    </div>
                </div>
            </div>
            <div class="col align-self-center">
                <div class="col text-center">
                    <h3>{{ viewDate | calendarDate:'monthViewTitle':'es-MX' | uppercase }}</h3>
                </div>
            </div>
            <div class="col align-self-end">
                <div class="btn-group">
                    <a class="btn btn-light text-dark" (click)="setView('month')" id="btnGuardar"> Mes </a>
                    <a class="btn btn-secondary text-white" (click)="setView('week')" id="btnGuardar"> Semana </a>
                    <a class="btn btn-light text-dark" (click)="setView('day')" id="btnGuardar"> Dia </a>
                </div>
            </div>
        </div>
        <br>

        <ng-template #loading>
            <div class="text-center">
                <i class="fa fa-spin fa-spinner fa-5x"></i>
                <br> Loading events...
            </div>
        </ng-template>
        
        <div *ngIf="events$ | async; else loading; let events">
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="'month'" [locale]="locale" [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="'week'" [locale]="locale" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
                </mwl-calendar-week-view>
                <div class="row">
                    <div class="col-sm-6">
                        <mwl-calendar-day-view *ngSwitchCase="'day'" [eventWidth]="200" [dayStartHour]="0" [dayEndHour]="11" [locale]="locale" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
                        </mwl-calendar-day-view>
                    </div>
                    <div class="col-sm-6">
                        <mwl-calendar-day-view *ngSwitchCase="'day'" [eventWidth]="200" [dayStartHour]="12" [locale]="locale" [viewDate]="viewDate" [events]="events" (eventClicked)="eventClicked($event.event)">
                        </mwl-calendar-day-view>
                    </div>
                </div>
                
            </div>
        </div>

        
    </div>

</div>