<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/inicio']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-th-large"></i>&nbsp;{{ 'Inicio' | translate }}
        </a>
        <a [routerLink]="['/audiencias']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;{{ 'Audiencias' | translate }}
        </a>
        <a ng-if="usuarioRol == 'PLENO' || usuarioRol == 'ADMIN' " [routerLink]="['/comisiones']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-slideshare"></i>&nbsp;{{ 'Comisiones' | translate }}
        </a>
        <a [routerLink]="['/demandas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-archive"></i>&nbsp;{{ 'Demandas' | translate }}
        </a>
        <a [routerLink]="['/documentos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-files-o"></i>&nbsp;{{ 'Documentos' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Catalogos' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/actores']">
                            <i class="fa fa-fw fa-street-view"></i>&nbsp;{{ 'Actores' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/demandados']">
                        <i class="fa fa-fw fa-address-book"></i>&nbsp;{{ 'Demandados' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/mesas']">
                            <i class="fa fa-fw fa-clipboard"></i>&nbsp;{{ 'Mesas' | translate }}
                        </a>
                    </li>
                    <li ng-if="usuarioRol == 'PLENO' || usuarioRol == 'ADMIN' ">
                        <a [routerLink]="['/usuarios']">
                            <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Usuarios' | translate }}
                        </a>
                    </li>
                    <li ng-if="usuarioRol == 'PLENO' || usuarioRol == 'ADMIN' ">
                        <a [routerLink]="['/permisos']">
                            <i class="fa fa-fw fa-key"></i>&nbsp;{{ 'Permisos' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>



        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-th-large"></i>&nbsp;{{ 'Inicio' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-hand-grab-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
       
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>

        <div class="header-fields">
            
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{usuarioName}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>

                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
