<div [@routerTransition]>
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-archive"></i>
                    <a href="Javascript:void(0)" [routerLink]="['/demandas']"> <== Demandas</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <!-- Componente Subida de archivos -->
            <app-upload></app-upload>
        </div>
    
        <form role="form" class="col-7">
            <div class="form-group input-group">
                <div class="col-12 col-sm-12 input-group-prepend">
                    <span class="input-group-text bg-primary text-white " id="basic-addon1">
                        <i class="fa fa-fw fa-search"></i>&nbsp;
                    </span>
                    <input type="text" class="form-control" name="searchString" placeholder="Busqueda..." [(ngModel)]="search">
                </div>
            </div>
        </form>
    </div>

    

    <!-- <a class="btn btn-primary col-xl-3 text-white" (click)="agregar()" id="btnAgregar"> Agregar Documento </a> -->

    <!-- Tabla -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of documentos| filter:search let i = index">
                <th scope="row">{{doc.DocClave}}</th>
                <td>{{doc.DocNombre}}</td>
                <td>{{doc.DocDescripcion}}</td>
                <td>{{doc.DocFechaCreacion | date: 'dd/MM/yyyy' : 'UTC'}}</td>

                <td>
                    <div class="btn-group">
                        <button type="button" [routerLink]="['/mDoc',doc.DocClave]" class="btn btn-sm btn-primary">Modificar</button>
                        <button type="button" [routerLink]="['/pDoc',doc.DocClave]" class="btn btn-sm btn-info">Ver</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    

    

</div>
